<!DOCTYPE html>
<html>
<head>
    <title>PDF Bookmarks</title>
</head>
<body>
    <h1>PDF Bookmarks</h1>
    {% for pdf_file, bookmark_info in bookmarks.items() %}
        <h2>{{ pdf_file.split('/') | last }}</h2>
        <ul>
            {% for bookmark_title, bookmark_page in bookmark_info %}
                {% if bookmark_page == 0 %}
                    <li><a href="file://{{ pdf_file }}" target="_blank">{{ bookmark_title }}</a></li>
                {% else %}
                    <li><a href="file://{{ pdf_file }}#page={{ bookmark_page }}" target="_blank">{{ bookmark_title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
